@font-face {
    font-family: "Mabry Pro";
    src: url('../fonts/MabryPro-Medium.woff2') format('woff2'),
        url('../fonts/MabryPro-Medium.woff') format('woff');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Mabry Pro";
    src: url('../fonts/MabryPro-Bold.woff2') format('woff2'),
        url('../fonts/MabryPro-Bold.woff') format('woff');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}